.k_checkout_main_container {
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    gap: 30px;
    font-family: var(--main-font-family);
}
.k_gpt_checkout_top_container {
    width: 70%;
}

.k_gpt_thank-you {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.k_gpt_checkout-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 40px;
}

.k_gpt_section {
    flex: 1 1 48%;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
}

.k_gpt_section h2 {
    font-size: 20px;
    margin-bottom: 12px;
    font-family: var(--font-fm2);
    padding-bottom: 8px;
    font-weight: 500;
}

.k_gpt_section p {
    margin: 15px 0;
}

.k_gpt_order-summary {
    width: 30%;
}

.k_gpt_order-summary h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.k_gpt_order-summary table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.k_gpt_order-summary table,
.k_gpt_order-summary th,
.k_gpt_order-summary td {
    border: 1px solid #ccc;
}

.k_gpt_order-summary th,
.k_gpt_order-summary td {
    padding: 12px;
    text-align: left;
}

.k_gpt_order-summary th {
    background-color: #f2f2f2;
}

.k_gpt_bold {
    font-weight: bold;
}

/* Responsive */
@media (max-width: 768px) {
    .k_gpt_checkout-container {
        flex-direction: column;
    }

    .k_gpt_section {
        flex: 1 1 100%;
    }
    .k_checkout_main_container {
        flex-direction: column;
        margin-bottom: 23px;
    }
    .k_gpt_checkout_top_container {
        width: 100%;
    }
    .k_gpt_order-summary {
        width: 100%;
    }
}

@media (max-width: 1080px) { 
    .k_checkout_main_container {
        padding-inline: 5%;
    }
}
