.k_flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.k_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.fake_price {
    display: flex;
    justify-content: flex-start;
}
.k_start {
    justify-content: flex-start;
}

.k_items_start {
    align-items: flex-start;
}

.k_gap_5 {
    gap: 5px;
}

.k_gap_15 {
    gap: 15px;
}

.k_gap_20 {
    gap: 15px;
}

.k_gap_10 {
    gap: 10px;
    justify-content: center;
}

.k_gap_8 {
    gap: 8px;
}

.k_tY_2 {
    transform: translateY(1px);
}

.k_flex_col {
    display: flex;
    flex-direction: column;
}

.k_space_between {
    justify-content: space-between;
}

.space-between {
    justify-content: space-between;
}

.flex-start {
    justify-content: flex-start;
}


.k_form {
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
}

.k_form_row {
    display: flex;
    flex-wrap: wrap;
}

.k_form_col {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.k_mt_10 {
    margin-top: 10px;
}

.k_mt-40 {
    margin-top: 40px;
}

.k_mb-10 {
    margin-bottom: 10px;
}


.k_mt-20 {
    margin-top: 20px !important;
}




.k_underline_transition_2 {
    position: relative;
    line-height: 27px;
    text-decoration: none;
    overflow: hidden;

}

.k_underline_transition_2::before,
.k_underline_transition_2::after {
    content: '';
    position: absolute;
    height: 1px;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #000;
    transition: all 0.7s ease-in-out;
}

.k_underline_transition_2::before {
    transform: scaleX(0);
    width: 0;
    right: 0;
    border-left: 20px solid white;
}

.k_underline_transition_2::after {
    width: 100%;
    left: 0;
    transform: scaleX(1);
}



.k_underline_transition_2:hover::before {
    transform: scaleX(1);
    width: 130%;

}

.k_underline_transition_2:hover::after {
    width: 0;
    transform: scaleX(0);

}

.k_underline_transition_1 {
    position: relative;
}

.k_underline_transition_1 h3::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -1px;
    left: 0;
    transition: width .25s ease-in-out;
}

.k_underline_transition_1:hover h3:after {
    width: 100%;
    background-color: var(--hover-txt-color);
}

.k_underline_transition_1:hover h3 {
    color: var(--hover-txt-color);
}

.kb_line {
    width: 100%;
    height: 2px;
    max-width: 1280px;
    margin-inline: auto;
    background-color: var(--hover-txt-color);
}


.k_space_between {
    justify-content: space-between;
}

@media (max-width:1080px) {
    .k_tab_hide {
        display: none !important;
    }


    .k_row {
        padding-inline: 2%;
    }

    .price-star {
        padding-inline: 2%;
    }

    .sp-section {
        padding-inline: 3%;
    }

    .delivery {
        padding-inline: 2%;
    }

}

@media (max-width:467px) {
    .k_m_hide {
        display: none !important;
    }
}