@media screen and (max-width: 500px) {
  

    .image_overlay{
            padding: 43px;
        position: absolute;
        bottom: 0%;
        width: 100%;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        /* border-radius: 10px; */
        background: linear-gradient(179.88deg, rgba(0, 0, 0, 0) 57.42%, #000000 99.9%);
}

    .trend_box h5 {
        font-size: 24px;
        font-weight: 500;
        line-height: 30px;
        color: #202020;
        letter-spacing: -0.21px;
    }

    .trend_box p {
        font-size: 25px;
        display: flex;
        margin-top: -1px;
        font-weight: 700;
    }


    .trend_box>span {
        line-height: 41px;
        line-height: 41px;
        font-size: 30px;
        font-weight: 700;
        font-family: var(--font-fm2);
        vertical-align: middle;
        display: flex;
        text-emphasis: "";
        align-self: anchor-center;
    }



    /* mid_banner */

    .mid-banner {
        margin-top: 8px;
    }


    .mid-banner img {
        width: 100%;
        object-fit: cover;
        object-position: top;
    }


   

    /* banner mid02 */
    .banner_mid02 {
        background: url('/assets/images/blue bg.png');
        padding: 5%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        margin-top: 20px;
    }

    .banner_mid03 {
        background: url('/assets/images/banner\ mid2\ bg.png');
        padding: 5%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        margin-top: 20px;
    }

    .banner_mid02 img,
    .banner_mid03 img {
        aspect-ratio: 350 / 350;
        object-fit: cover;
        border-radius: 12px;
        width: 100%;
    }




    .shopby_trend {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        scrollbar-width: none;
        gap: 12px;
        overflow: scroll;
        padding: 0px 0% 0px 3%;
    }

    .shopby_trend img {
        height: 243px;
        width: 192px;
    }


    .shopby_trend_title h4 {
        text-align: center;
        font-size: var(--txt-font-mobile);
        font-family: 'Poppins';
        font-weight: 600;
        padding-block: 3%;
    }



    .trending_title h2 {
        text-align: start;
        font-size: var(--txt-font-mobile);
        font-family: 'Poppins';
        font-weight: 600;
        padding-inline: 3%;
        margin-top: 20px;
    }

    .brand_box img {
        width: 134px;
        height: 159px;
        border-radius: 8px;
        object-fit: cover;
        object-position: top;
    }

    .brand_box {
        position: relative;
        margin-right: 4px;
    }

    .brand_section {
        padding-left: 3%;
        display: flex;
        gap: 10px;
        overflow: scroll;
        scrollbar-width: none;
        padding-block: 2%;
    }

    .brand_box p {
        position: absolute;
        bottom: 6%;
        font-size: 14px;
        font-weight: 600;
        margin-left: 8px;
        color: white;
    }

  

.container {
    margin-bottom: 40px;
    display: none;
  }

.cate_name {

                  position: absolute;
        bottom: 1%;
        text-transform: capitalize;
        padding-block: 5%;
        width: 100%;
        font-weight: 500;
        font-family: var(--font-fm2);
       
        left: 2%;
        font-size: 12px;
        color: white;
        text-align: center;
        border-radius: 9px;
       
        

}


  
 



    .Category-box{
    display: flex;
    align-items: baseline;
    margin-top: 12px;
    justify-content: flex-start;
    gap: 0px;
    height: 100%;
    position: relative;
}


.Category-box .images{
  position: relative;


}


.tabs-container {
padding-inline: 5%;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex
;
    justify-content: flex-start;
    align-items: flex-start;
    /* border-bottom: 1px solid #eee; */
    flex-wrap: wrap;
    row-gap: 15px;
    width: 100%;
}

.tabs-container h2 {
  margin-right: auto;
  font-size: 30px;
  font-weight: 400;
          font-family: var(--font-fm2);
}

 .label-img2{
         position: absolute;
        left: 11%;
        top: 0%;
        height: 36px;
        align-items: end;

      }
 .Category-box .images .p_img{


      height: 139px;
        width: 97px;
        border-radius: 9px;
        object-fit: cover;
        object-position: top;
        border: 1px solid gray;
      }

      .Category-box a{
       height: 100%;
        width: 100%;
        /* margin-right: 50px; */
        position: relative;
        display: flex;
        flex-direction: row;

        align-items: baseline;
        gap: 0px;
      }

.Category-box a{
   display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 316px;
    position: relative;
}

.Category-box h1{
  font-size: 60px;
  font-weight: 900;
  font-family: var(--font-fm2);

  /* gradient fill inside */
  background: linear-gradient(180deg, rgba(255,255,255,0.69) 0%, rgba(153,153,153,0.69) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* white border / outline */
  -webkit-text-stroke: 1px white;

  /* soft shadow */
  filter: drop-shadow(0px 4px 2px rgba(0,0,0,0.25))
          drop-shadow(0px 0px 0px rgba(0,0,0,0.15));
}




.subcate_container{
  width: 100% !important;
    height: 100%;
    display: flex;
    gap: 10px;
    overflow-y: hidden;
    overflow-x: scroll;
    justify-content: start !important;
    align-items: center;
    padding: 0px 5% !important;

}

/*  */

#slider-img {
  width: 100%;
  padding: 0px 0;
  /* background: #f8f8f8; */
  position: relative;
      margin-top: unset;
}

.subcat_box img{
      height: 100%;
    width: 100%;
    aspect-ratio: 8 / 8;
    object-fit: cover;
    max-width: 55px;
    border-radius: 50%;
}

.subcat_box{
  display: flex;
  align-items: center;
  flex-direction: column;
}



  .tabs-container h2 {

        font-size: var(--txt-font-mobile);
        font-family: 'Poppins';
        font-weight: 600;
        padding-block: 3%;

  font-size: var(--txt-font-mobile);
  font-weight: var(--txt-weight-mobile);
    text-align: center;
    /* margin-bottom: 10px; */
            font-family: var(--font-fm2);

  }

  .tabs-container{
    /* padding: unset; */
    margin: unset;
  }

  .tabs {
    display: none;
    overflow-x: scroll;
    justify-content: flex-start;
    gap: 10px;
         /* margin-top: calc(-34px - 8vh); */
    font-size: 14px;
    transform: translateX(-12px);
    scrollbar-width: thin;
  }


  /* budget section */

.offer_label_text{
              position: absolute;
        font-size: 6px;
        text-wrap: wrap;
        color: white;
        width: 9px;
        left: 11%;
        font-weight: 700;
        line-height: 10px;
        top: 0;
    
}

.budget_section{
  display: flex;
    gap: 10px;
    justify-content: flex-start;
    padding-left: 2%;
    overflow: scroll;
            margin-bottom: 2%;
}
.budget_box img{
      width: 97px;
    height: 139px;
    object-fit: cover;
    object-position: top;
    border-radius: 9.76px;
}

.budget_box p{
                position: absolute;
        bottom: 3%;
        color: white;
        width: 41px;
        line-height: 13px;
        /* text-align: center; */
        left: 7%;
        font-size: 12px;
        font-weight: 700;
}

.budget_box #sp{
  font-size: 10px;
  font-weight: 500;
}

.budget_box{
      position: relative;
    width: max-content;
}



.trending_title{
      padding: 2% 0px;
}


.Subcategory-list{
        justify-content: flex-start !important;
      }

/* Navigation buttons inside image area */
.owl-theme .owl-nav.disabled+.owl-dots {
  width: fit-content;
  margin: 10px auto;
  background: #fff;
  height: 16px;
  padding: 0px 10px;
  border-radius: 0px !important;
  box-shadow: 0px 0px 10px 0px #fbad462f;
}

.owl-theme .owl-dots .owl-dot span {
     border-radius: 50%;
    width: 5px;
    height: 5px;
    margin: 5px 2px;
    background: #D9D9D9;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #828282;
  width: 11px;
  height: 5px;
  border-radius: 50px !important;
  transition: .5s;
}

.owl-theme .owl-dots .owl-dot.active span {
  position: relative;
}

.owl-theme .owl-dots .owl-dot.active span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: #00000049;
  border-radius: inherit;
  animation: activedots 4.7s linear;
}

.owl-prev {
        display: none !important;
    }

    .owl-next {
        display: none !important;
    }




}