
.prev-page-link-container {
    max-width: 1440px;
}

.prev-page-link-content {
    width: 100%;
    padding-inline: 5%;
    display: flex;
    gap: 15px;
    align-items: center;
}

.prev-page-link-content h3 {
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
} 

.prev-page-link-content h3:hover {
    color: var(--hover-txt-color);
}


.prev-page-link-content i{
    font-size: 8px;
}

@media screen and (max-width: 769px) {
    
    .prev-page-link-container{
        display: none;
    }
}