.shipping-policy-container {
     padding-inline: 5%;
    max-width: 1440px;
    margin-inline: auto;

}


.shipping-policy-container p {
    margin-bottom: 20px;
    margin-top: 0;
    color: var(--li-txt-color);
}

.shipping-policy-container h3 {
    font-family: var(--font-fm2);
    font-weight: 400;
    line-height: 1.3;
    clear: both;
    color: #000000;
    margin: 0 0 18px;
    font-size: 30px;
}

.shipping-policy-container li {
    color: var(--li-txt-color);
}

.shipping-policy-container ol,
.shipping-policy-container ul {
    margin-top: 20px;
    margin-bottom: 20px;

}

.shipping-policy-container ul {
    padding-left: 40px;
    list-style-type: disc;
}

.shipping-policy-container b,
.shipping-policy-container strong {
    font-weight: 500;
}

.shipping-policy-container ol li+li,
.shipping-policy-container ul li+li {
    margin: 6px 0 0;
}

.shipping-policy-container li>ol,
.shipping-policy-container li>ul {
    margin-bottom: 0;
}



@media (max-width:1080px) {
    .shipping-policy-container h3 {
        font-size: 28px;
    }
}
@media (max-width:778px) {
    .shipping-policy-container h3 {
        font-size: 24px;
    }
}
@media (max-width:448px) {
    .shipping-policy-container h3 {
        font-size: 22px;
    }
}