@media screen and (min-width: 501px){
    body{
        display: none;
    }
}

@media screen and (max-width: 500px) {
.login-container{
   padding: 30px 3%;
    border-radius: 10px;
    position: absolute;
    width: 500px;
    /* max-width: calc(100vw - 55px); */
    text-align: center;
    opacity: 1;
    transform: translateY(10%);
    transition: all 0.25s 
ease-in-out;
    z-index: 1006;
    top: 16%;
    width: 100%;
}

.login_modal_title p {
    font-size: 13px;
    color: var(--para-color);
    width: 280px;
    font-family: var(--font-fm2);
    text-align: start;
    height: 17px;
}

.login_btn{
        margin-top: 18px;

}

#c_t{
    font-size: 12px;
    padding-block: 2%;
    margin-top: 15px;
    color: rgba(128, 128, 128, 1);
    text-align: start;
    font-family: var(--font-fm2);
    font-weight: 400;
       line-height: 16px;
       width: 319px;
}

#c_t span{
    color: black;
    text-decoration: underline  rgba(128, 128, 128, 1);
    font-family: var(--font-fm2);
}

.signup-input-box {
     display: flex;
    gap: 11px;
    width: 90%;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
 
    padding: 10px 0px;
    align-items: center;
}
    .sign_up_title h2{
        font-size: 50px;
    text-wrap: wrap;
    width: 50%;
    line-height: 54px;
    text-align: start;
    font-weight: 700;
    }


.shapes{
        display: flex;
    justify-content: space-between;
    width: 100%;
}

.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_modal_input input {
     height: 32px;
    border-radius: var(--input-normal-rounded);
    border: none;
    font-size: 15px;
    margin-bottom: -2px;
    outline: none;
    transition: all 0.55s 
ease-in-out;
        width: 100%;
}

.login_sc{
    display: flex;
    justify-content: center;
    padding: 11px 0px;
    align-items: center;
    gap: 10px;
}

.login_btn #btn_signup {
    background: #e6e6e6;
    width: 100%;
    border: none;
    border-radius: var(--input-normal-rounded);
    padding: 10px 20px;
    cursor: pointer;
    min-height: 45px;
    color: rgba(128, 128, 128, 1);
    transition: all .25s 
cubic-bezier(.645, .045, .355, 1);
    text-transform: none;
}



.login_modal_password_input{
        display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.k_gap_5{
    display: flex;
    gap: 5px;
}

.login_modal_checkbox_container {
    margin-block: 25px;
    display: flex
;
    justify-content: space-between;
}

}
