/* support section  */

.info-strip-section {
  width: 100%;
  padding-inline: 5%;

}

.info-strip-container {
  margin: 70px auto 20px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 40px 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 40px;
  padding-inline: 5%;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: left;
  width: calc(100% / 4);
  /* border-right: 1px solid var(--bs-footer-txt-color); */
  border-right: 1px solid #EEEEEE;
  padding: 10px;
  height: 60px;
  max-height: 60px;
}

.info-icon {
  font-size: 34px;
}

.info-text {
  font-size: 16px;
  color: #000;
  font-weight: 500;
}

.info-text span {
  display: block;
  font-weight: 400;
  color: #555;
}










/* footer section  */

.cprt-footer {
  padding-inline: 5%;
}



.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.089);
  border-top: 1px solid rgba(0, 0, 0, 0.178);
  padding: 20px 0 60px;
}

.leftfooter {
  border-top: 1px solid #eee;
  display:
    flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-family: sans-serif;
  font-size: 14px;
  color: #333;
}

.rightfooter {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  /* margin-top: 10px;
  margin-bottom: 40px; */
}

.rightfooter img {
  width: 291px;
  height: 22px;
}

/* mobile responsive  */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    padding-bottom: 55px;
    display: none;
  }

  .leftfooter {
    justify-content: flex-start;
    padding: 15px 0;
    font-size: 13px;
  }

  .rightfooter {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 10px 0 30px 0;
    gap: 15px;
  }


    

}





.bs-footer {
  /* background-color: #fff; */
  color: #000;
  padding: 40px 10px;
}

.bs-footer-container {
  width: 100%;
  padding-inline: 5%;
  /* max-width: 1200px; */
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.bs-footer-logo,
.bs-footer-links,
.bs-footer-contact {
  flex: 1 1 250px;
}

.bs-footer-logo img {
  height: auto;
  width: 58%;
  /* height: 80px; */
  margin-bottom: 30px;
}

.bs-footer-logo h2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;
}

.bs-social-icons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.bs-social-icons a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.bs-social-icons a:hover {
  color: var(--bs-footer-txt-color);
}

.bs-footer-links h2,
.bs-footer-contact h2 {
  font-size: 30px;
  margin-bottom: 19px;
  font-weight: 500;
}

.bs-footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.bs-footer-links ul li a {
  display: inline-block;
  color: var(--bs-footer-txt-color);
  text-decoration: none;
  /* padding: 6px 12px; */
  border-radius: 6px;
  transition: all 0.3s ease;
  font-size: 16px;
}

.bs-footer-links ul li a:hover {
  color: var(--normal-txt-color);
}



.bs-footer-contact i {
  margin-right: 10px;
  font-size: 13px;
}

.bs-email-link {
  display: inline-block;
  color: var(--bs-footer-txt-color);
  text-decoration: none;
  border-radius: 6px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;

}


.bs-email-link:hover p {
  color: var(--normal-txt-color);
}

.info-item-logo-img {
  width: 26px;
  height: 26px;
}

.info-item-logo-img img {
  width: 100%;
  height: auto;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .bs-footer-container {
    flex-direction: column;
    align-items: flex-start;
    padding-inline: 0;
    /* text-align: ; */
    gap: 40px;
    display: none;

  }

  
.info-strip-section {
  display: none;
}

  .bs-footer-logo,
  .bs-footer-links,
  .bs-footer-contact {
    margin-bottom: 0px;
  }

  .bs-social-icons a {
    font-size: 20px;
    /* margin: 0 8px; */
  }
}


@media (max-width: 820px) {
 
  .bs-footer-logo,
  .bs-footer-links,
  .bs-footer-contact {
    flex: 1 1 calc(100% / 3 - 60px / 3);
  }
}

@media (max-width: 1080px) {
  .info-strip-container {
    padding-inline: 0;
    flex-wrap: wrap;
  }

  .info-item {
    width: calc(100% / 4 - 120px / 4);
  }

}

/* mobile responsive  */
@media (max-width: 768px) {
  .info-strip-container {
    flex-direction: column;
    padding: 20px 0;
    gap: 25px;
    align-items: flex-start;
    margin-top: 50px;
    display: none;
  }

  .info-item {
    gap: 15px;
    width: 100%;
    border-right: unset;
    border-bottom: 1px solid var(--info-border-color, #cfcdcd);
  }


  .info-icon {
    min-width: 30px;
    font-size: 26px;
  }

  .info-text {
    font-size: 16px;
  }

  .info-text span {
    font-size: 14px;
    color: #555;
  }

  .bs-footer-logo,
  .bs-footer-links,
  .bs-footer-contact {
    flex-basis: 0%;
  }

  .bs-footer {
    padding-top: 20px;
  }
}